<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Portal Run.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F82B2D301DD6457A001C0483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F82B2D4A1DD6457B001C0483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F82B2D551DD6457B001C0483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
